/*Navbar background and colour*/
.navbar-light {
	color: rgb(205, 149, 107);
	background-color: #fbe8e4;
	text-align: center;
}
.navbar-light .navbar-toggler {
	color: rgb(205, 149, 107);
	border-color: #fbe8e4;
}
.navbar-toggler {
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: #fbe8e4;
	border: 1px solid #fbe8e4;
	border-radius: .25rem;
}
.li {
	display: inline-block;
	text-align: center;
}
.navbar-light .navbar-brand {
	color: rgb(205, 149, 107);
}
.navbar-light .la {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.navbar-light .navbar-brand:hover {
	color: rgb(205, 149, 107);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgb(205, 149, 107);
}
.navbar-light .navbar-nav .nav-link {
	color: rgb(205, 149, 107);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(205, 149, 107);
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-color: #fbe8e4;
}
/*Navbar Dropdown*/
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: rgb(205, 149, 107);
	text-align: left;
	list-style: none;
	background-color: #fbe8e4; 
	background-clip: padding-box;
	border: 1px solid #fbe8e4; 
	border-radius: .25rem;
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: rgb(205, 149, 107);
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.dropdown-divider {
	height: 0;
	margin: .5rem 0;
	overflow: hidden;
	border-top: 1px solid #cb956b;
}